.topicos{
    background: var(--azul-degrade);
    padding: 24px 0px;
    text-align: center;
}
.topicos__titulo{
    text-align: center;
    font-weight: 300;
    margin-bottom: 1em;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.topicos__itens{
    margin: 1em 0.5em;
}
.topicos__links{
    display: block;
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    color: var(--cor-do-header);
    font-size: 16px;
    font-weight: 700;
}
@media screen and (min-width:1024px){
    .topicos__links{
        font-size: 24px;
    }
    .topicos__lista{
        width: 60%;
        margin: 1em auto;
    }
}
@media screen and (min-width:1728px){
    .topicos__lista{
        width: 50%;
        margin: 1em auto;
    }
}
